# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
!.env.example

!.env.project
!.env.vault
*.csv
/temp
/prisma/backup
/microservice/prisma/backup
output.txt

# Test coverage reports
coverage/
*.json
playwright-report/index.html
/.docker-build-cache
/.pnpm-store
/node-compile-cache
